<!DOCTYPE HTML>
<html ng-app="boipelo">

<head>

<title>Boipelo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

</head>

<body>

	<header ng-cloak>

		<h1>Boipelo</h1>
		<div ng-controller="NavigationController" class="container">
			<ul class="nav nav-pills" role="tablist">
				<li ng-show="authenticated" class="active"><img alt=""
					ng-src="{{profilePictureUrl}}" width="45"></li>

				<li ng-show="authenticated" class="active"><button
						class="btn btn-primary" ng-click="goTo('/')">Home</button></li>
				<li ng-show="authenticated" class="active"><button
						class="btn btn-primary" ng-click="goToUser($root.login)">{{$root.login}}</button></li>
				<li ng-show="!authenticated" class="active"><button
						class="btn btn-primary" ng-click="goTo('/login')">Log In</button></li>
				<li ng-show="authenticated" class="active"><button
						class="btn btn-primary" ng-click="logout()">Logout</button></li>
			</ul>
		</div>

	</header>

	<div ng-view="" ng-cloak=""></div>

	<script src="js/lib/underscore.js"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

	<script src="js/lib/file-upload/angular-file-upload-shim.min.js"></script>
	<script src="js/lib/file-upload/angular-file-upload.min.js"></script>

	<script src="js/lib/angular-spring-data-rest.js"></script>

	<script src="js/app/config.js"></script>

	<script src="js/app/directives/on-enter.directive.js"></script>

	<script src="js/app/login/login-controller.js"></script>
	<script src="js/app/registration/registration-controller.js"></script>
	<script src="js/app/navigation/navigation-controller.js"></script>
	<script src="js/app/home/home-controller.js"></script>
	<script src="js/app/profile/profile-controller.js"></script>
	<script src="js/app/profile/about/about-controller.js"></script>
	<script src="js/app/profile/timeline/timeline-controller.js"></script>

	<script src="js/app/services/api-service.js"></script>
	<script src="js/app/services/comment-factory.js"></script>
	<script src="js/app/services/user-factory.js"></script>
	<script src="js/app/services/friendship-factory.js"></script>
	<script src="js/app/services/post-factory.js"></script>
	<script src="js/app/services/registration-service.js"></script>
	<script src="js/app/services/authentication-factory.js"></script>
	<script src="js/app/navigation/http-interceptor.js"></script>

	<script src="js/app/test/resource-wrapper.js"></script>
	<script src="js/app/test/test-controller.js"></script>


</body>
</html>