<div class="container">

	<div class="form-group" style="margin-top: 1%">
		<img style="cursor: pointer" alt="" ng-src="{{profileImageURI}}" width="150" ng-file-select
			ng-file-change="upload($files)" ng-multiple="multiple">
		{{user.login}}
	</div>
	
	<div >
	
		<ul class="nav nav-pills" role="tablist">
			<li class="active"><button class="btn btn-primary"
					ng-click="template = templates[0]">{{ 'ABOUT' | translate
					}}</button></li>
			<li class="active"><button class="btn btn-primary"
					ng-click="template = templates[1]">{{ 'TIMELINE' |
					translate }}</button></li>
		</ul>
	</div>
	
	<div ng-include="template.url"></div>

</div>